---
---
{% include __html-start.html %}

{% include footer.html %}		
{% include header.html %}

<div class="content-wrapper">
{% assign project-index = 0 %}
	
{% for projectdata in site.categories.Project %}


	{% comment %} ---- Read demo-content ---- {% endcomment %}
	
	{% if projectdata.demo-content != nil %}
		{% assign demo-iframe = nil %}
		{% assign demo-img = nil %}
		
		{% comment %} -- Read iFrame link if enabled and not nil -- {% endcomment %}
		
		{% assign iframe-data = projectdata.demo-content['iframe'] %}
		{% if iframe-data and iframe-data.enabled and iframe-data.link %}
			{% assign demo-iframe = iframe-data.link %}
		{% endif %}
		
		{% comment %} -- Read image link if enabled and not nil -- {% endcomment %}
		
		{% assign img-data = projectdata.demo-content['image'] %}
		{% if img-data and img-data.enabled and img-data.link %}
			{% assign demo-img = img-data.link %}
		{% endif %}
	{% endif %}
	
	{% include post.html title=projectdata.title content=projectdata.content minimizable=projectdata.minimizable demo-content=projectdata.demo-content index=project-index %}

	{% comment %} ---- Increment project ID counter ---- {% endcomment %}
	{% assign project-index = project-index | plus: 1 %}
{% endfor %}
</div>
		
{% include __html-end.html %}